<div id="reply" class="form box">
  <div style="padding:20px;">
    need <%= link_to(t("common.login"), "/account/sign_in", class: "btn btn-primary") %> Back to respond if you have no account yet <%= link_to("#{t("common.register")}", "/account/sign_up", class: "btn btn-danger") %>。
  </div>
</div>
