<%
  reply = notification.target
  topic = notification.second_target || reply.topic
%>
<div class="media-heading">
  <span class="info">in <%= topic_title_tag(topic) %>Mention you：</span>
</div>
<% if reply.present? %>
  <div class="media-content summary markdown">
    <%= reply.body_html %>
  </div>
<% end %>
