<div class="row" style="padding: 50px 0;">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">Authorized success</div>
  
      <div class="panel-body">
        <p>Since the application does not have a callback address, use the authorization code：</p>
        <p class="text-info"><%= params[:code] %></p>
      </div>
    </div>
    
  </div>
</div>
