<%
  topic = notification.target
  node = notification.second_target
 %>
<% if topic.blank? or node.blank? %>
  Related information has been deleted
<% else %>
  <div class="media-heading">
    You post the topic <%= topic_title_tag(topic) %>It was moved by the administrator for content reasons <%= render_node_name(node.name, node.id) %> 节点，请注意查看节点说明。
  </div>
<% end %>
