<h1>你关注的帖子有了新回复</h1>
<p>
   <%= user_name_tag(@reply.user) %>  Replied 《<%= topic_title_tag(@topic)%>》:</label> <br />
</p>
<blockquote>
  <p><%= @reply.body_html %><br/></p>
</blockquote>
<p>
 <label> Posts Address:</label> <%= topic_title_tag(@topic) %>.
</p>
