<ul>
  <li>Support Markdown format, <strong> ** bold ** </ strong>, ~ ~ delete line ~ ~, <code> `single line code`</code></li>
  <li>Support expression, see <a href="http://www.emoji-cheat-sheet.com" target="_blank" rel="nofollow">Emoji cheat sheet</a></li>
  <li>Press "M" to see more <a href="#markdown_help_tip_modal" data-toggle="modal" data-keyboard="true" data-backdrop="true">help</a></li>
  <li>Pay attention to the word spelling, as well as Chinese and English typesetting,<a href="https://github.com/sparanoid/chinese-copywriting-guidelines" target="_blank">参考此页</a>
</ul>

<div class="modal fade" id="markdown_help_tip_modal" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h4>格式说明</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li>支持 Markdown 格式</li>
          <li><strong>** bold ** </ strong>, ~ ~ delete line ~ ~, <code> `single line of code`</code></li>
          <li>http://example.org automatically add links</li>
          <li>@name will link to the user page and will notify him</li>
          <li>![Alt text here](http://foo.com/bar.jpg)display image</li>
          <li>Multi-line code format, the use of three `package up, pay attention to the line, the first` `` followed by the language name (ruby, bash, html, css, python, erb, java ... <a href = "http: //pygments.org/docs/lexers/ "target =" _ blank "> more </a>) <br />
            For example:
              <pre style="border:0;background:#FFF;margin:0;">```ruby
    class Hello
    end
    ```</pre>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

