<div id="error-page" class="panel">
  <div class="panel-body">
    <h1>Oops, Page not found</h1>
    <p>
     Does not seem to have this page! Big Brother, go back and see other things
    </p>
  </div>
</div>
